@page "/"
@rendermode InteractiveServer

<div class="main">
  <h1>Blazing Pizzas</h1>
  <ul class="pizza-cards">
    @if (_specials is not null)
    {
      @foreach (var special in _specials)
      {
        <li @onclick="() => orderState.ShowConfigurePizzaDialog(special)"
          style="background-image: url('@special.ImageUrl')">
          <div class="pizza-info">
            <span class="title">@special.Name</span>
            @special.Description
            <span class="price">@special.GetFormattedBasePrice()</span>
          </div>
        </li>
      }
    }
  </ul>
</div>

@if (orderState.ShowingConfigureDialog)
{
  <ConfigurePizzaDialog Pizza="orderState.ConfiguringPizza" OnCancel="orderState.CancelConfigurePizzaDialog"
    OnConfirm="orderState.ConfirmConfigurePizzaDialog" />
}
